set timeout=5
set default=0

menuentry "Hygge v0.1" {
    multiboot /boot/kernel.bin
    boot
}

menuentry "Hygge v0.1 (verbose)" {
    multiboot /boot/kernel.bin
    module /boot/kernel.bin
    boot
}